@model aver.Models.NotificationViewModel

@{
    ViewBag.Title = "Tilkynningar";
}

<h2>Index</h2>

@*<div class="container">
    <div class="">*@

<div class="notification-container">
    <div>

        <ul>
            @foreach (var item in Model.Items)
            {
                <li style="display:block;">
                    <div>

                        <h4>
                            <a class="btn btn-default btn-block" data-toggle="collapse" href="#collapse1">
                            <i class="fas fa-plus"></i>
                            <span>@item.Title</span>
                            </a>
                        </h4>
                        <div id="collapse1" class="panel-collapse collapse">
                            <p>@item.Desctiption</p>
                            <p> @item.Date</p>
                        </div>
   
                    </div>

                </li>
            }
        </ul>
    </div>
</div>

