@model aver.Models.NotificationViewModel

@{
    ViewBag.Title = "Tilkynningar";
}

<h2>Index</h2>
<div class="container">
    <div class="col-md-6">
        <ul>
            @foreach (var item in Model.Items)
            {
                <li style="display:block;">
                    <div>
                        <h4>
                            <a class="btn" data-toggle="collapse" href="#collapse1"><span class="glyphicon glyphicon-plus"></span> @item.Title</a>
                        </h4>
                        <div id="collapse1" class="panel-collapse collapse">
                            <p>@item.Desctiption</p>
                            <p> @item.Date</p>
                        </div>
   
                    </div>

                </li>
            }
        </ul>
    </div>
</div>

