@model aver.Models.NotificationViewModel

@{
    ViewBag.Title = "Tilkynningar";
}

<h2>Index</h2>


<div class="notification-container">
    <div>

        <ul>
            @foreach (var item in Model.Items)
            {
                <li style="display:block;">
                    <div>
                        <h4 class="notification">
                            <a class="btn btn-default btn-block btn-notification" data-toggle="collapse" href="#collapse1">@item.Title <span style="float: right;" class="glyphicon glyphicon-plus"></span>  </a>
                        </h4>
                        <div id="collapse1" class="panel-collapse collapse">
                            <p>@item.Desctiption</p>
                            <p> @item.Date</p>
                        </div>
   
                    </div>

                </li>
            }
        </ul>
    </div>
</div>

