
@{
    ViewBag.Title = "Index";
}

<h2>Bóka tíma</h2>
<div class="container">
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="btn btn-primary">
                <span>@Html.ActionLink("Bóka fyrir mig", "BookingFor", "Booking", new { ssn= 0701912619 }, null)</span>
            </div>
        </div>

        <div class="col-md-12">
        <div class="btn btn-primary">
            <span>Bóka fyrir mig</span>
        </div>
    </div>
    </div>


</div>
