@model aver.core.Models.SuperModel


@{
    ViewBag.Title = "Home Page";
}

<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">


        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">


        </div>

        </div>

        <!--Grid row-->
        <!--Grid row-->

        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <a href="@Url.Action("Detail", "", new { type="breakfast" })">
                    <!--Card-->
                    <div class="card aqua-gradient">
                        <div class="card-img-top card-image-main img-breakfast">
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <div class="card-txt">Ráðlagður morgunmatur</div>
                        </div>

                    </div>
                    <!--/.Card-->
                </a>
            </div>
                <!--Grid column-->
        </div>


        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="col-md-6 mb-4">
                <!--Card-->
                <div class="card ripe-malinka-gradient">
                    <a href="@Url.Action("Detail", "", new { type="supper" })">
                        <div class="card-txt">Ráðlagður hádegismatur</div>

                        <div class="card-img-top card-image-main img-supper">
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                        </div>
                    </a>
                </div>
                <!--/.Card-->

            </div>
        </div>

            <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="col-md-6 mb-4">
                    <!--Card-->
                    <div class="card winter-neva-gradient">
                        <a href="@Url.Action("Detail", "", new { type="dinner" })">

                            <div class="card-txt">Ráðlagður kvöldmatur</div>

                            <div class="card-img-top card-image-main img-dinner">
                            </div>
                            <div class="card-body">
                            </div>
                    </div>
                </div>
            </div>
            <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                <div class="col-md-6 mb-4">

                    <!--Card-->
                    <div class="card blue-gradient">
                        <a href="@Url.Action("Detail", "", new { type="not-allowed" })">
                            <div class="card-txt">Þú mátt EKKI borða</div>

                            <div class="card-img-top card-image-main img-danger">
                            </div>
                            <!--Card content-->
                            <div class="card-body">

                            </div>
                        </a>
                    </div>
                    <!--/.Card-->

                </div>
                </div>
            <!--Grid row-->
</main>